# Supabase DB
PROJECT_URL=your_value_here

CONNECTION_STRING=your_value_here

DB_PASSWORD=your_value_here

DB_SECRET_KEY=your_value_here
DB_PUBLIC_KEY=your_value_here

SUPABASE_ANON_KEY=your_value_here
